* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #ddd;
  display: grid;
  place-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.container > .left-container > #break-Line {
  display: block;
  margin: 10px 0 0 0;
}
.container > .left-container > input {
  padding: 10px;
  border: 2px solid #ddd;
}
.container > .left-container > button {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
}
